.TemplateManagement-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .filters-container {
    display: flex;
    gap: 20px;
    .filter-container {
      display: flex;
      flex-direction: column;
      gap: 4px;
      font-weight: 700;
      font-size: 12px;
    }
  }
}
