.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/bg.jpg);

  .Login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: var(--primary-light);
    padding: 0px 225px 160px 225px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.50);    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    .img {
      padding: 32px 0 40px 0;
    }
    h2 {
      margin-bottom: 20px;
    }
  }
}

.Google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: none;
  width: 100%;
  border-radius: 10px;
  gap: 12px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Google-login-button:hover {
  background-color: #3517a3;
}

.Google-icon {
  margin-right: 10px;
}

.login-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  .or {
    display: flex;
  color: rgba(255, 255, 255, 0.50);
    justify-content: center;
  }
}

.dont{
  color: rgba(255, 255, 255, 0.50);
  
}
hr {
  width: 100%;
}

.signup {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.forgot :hover {
  color: #fff;
}

.forgot {
  color: rgba(255, 255, 255, 0.50);
  cursor: pointer;
}
