.TemplateManagement-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .heading {
    display: flex;
    justify-content: space-between;
  }
  .filters-container {
    display: flex;
    width: 100%;
    gap: 8px;
  }
}
