.RightDashboard-container{
    display: flex;
    flex-direction: column;
        height: 100%;
        width: 20%;
        padding: 12px;
        gap: 20px;
    .transaction{
        
        .transaction-head{
            padding: 12px;
            font-size: 20px;
            background-color: rgb(2, 2, 102);
            color: white;
        }
        .transaction-table {
            overflow-x: auto;
            table {
              width: 100%;
              padding: 12px;
              border-collapse: collapse;
              thead{
                tr{
                  th{
                    padding: 12px;
                    padding: 8px; /* Change the padding value as needed */
                    text-align: left;
                    border: 1px solid #ddd;
                  }
                }
              }
              
              tbody{
                tr{
                  td{
                    padding: 12px;
                    padding: 8px; /* Change the padding value as needed */
                    text-align: left;
                border: 1px solid #ddd;
                  }
                }
              }
            }
          }
    }
}