.Demographic-container {
 width: 40%;
//  background:red;
 border:  1px solid gray;
 h6{
  padding: 10px;
  color: white;
  background: rgb(7,3,88);
 }
 .data{
  padding: 10px;
 }
 
 
 .contact_details {
  width: 200px;
  border: 1px solid black;
  .contact_details2{
   padding: 10px;
  }
 
   p {
     font-size: 20px;
     // background-color: rgba(201, 196, 196, 0.752);
     padding: 5px; // Adding padding for better spacing
     margin-bottom: 10px; // Adding margin at the bottom of the paragraph
   }
   ul {
     li {
       list-style-type: none;
       padding-top: 20px;

       svg {
         margin-right: 10px; // Adjust the margin between icon and text
       }
     }
   }
 }

}
